@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./mixin&variables/variables";
@import "./mixin&variables/mixin";

//start -- header
header {
    background-color: $gray-800;

    //導覽列下方漸層線
    ::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, $primary 50%, $secondary 50%);
        bottom: 0;
        left: 0;
    }
}

//start -- header > navbar
.navbar {

    //start -- header > navbar > navbar-brand(logo)
    &-brand {
        display: block;
        background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo2.svg") no-repeat;
        height: 24px;
        width: 23.88px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden;

        @include desktop {
            background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo.svg") no-repeat;
            height: 42px;
            width: 174.42px;
        }
    }
    //end -- header > navbar > navbar-brand(logo)

    &-toggler {
        border-width: 0px;

        .material-icons {
            color: $primary;
        }
    }

    //start -- header > navbar > nav-link
    .nav {
        &-link {
            color: $white;
            font-size: 18px;
            line-height: 26px;

            .material-icons {
                vertical-align: top;
            }           
        }
    }    
    //end -- header > navbar > nav-link
}
//end -- header > navbar

//end -- header

//start -- footer
footer {
    color: #909090;
    background-color: #1A1A1A;
}
//end -- footer

